body{background-color: rgb(56, 56, 56);}

#top{box-shadow: 10px 5px 5px 10px black;
    background-color: rgb(146, 142, 142);
    background-size: 50%;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 1%;
    height: 125px;
}
#eye{border: 5px solid red}
#brick{height: 70px;
    width: 125;

}
#mid, #left, #right, #top, .form{border-radius: 10px;}

.middle{display: block;
    margin-left: 20%;
    margin: 2%;
    max-height: 100%;
    width: 96%;
    
    }
    .center{width: 45%;
            height: 123;
        margin-left: 1%;}
        .rtop{width: 15%;
            margin-left: 82%;
            margin-top: -7%
        }
        .rrtop{width: 30px;
            height: 30px;
            margin-left: 97.5%;
            margin-top: -10%
        }
        .rbtop{width: 30px;
            height: 30px;
            margin-left: 97.5%;
            margin-top: -4%
        }
        font{font-family: 'Georgia', serif;
            font-size: 17pt;
        }
        .shad{text-shadow: 8px 5px 4px red;}
        #box{font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
            font-size: 11pt;
            width: 380px;
            height: 19px;
            margin-bottom: 115px;
            margin-left: 11px;

        }
        #button{height: 19;
            margin-top: -134px;
            margin-left: 395px;
            border: none;
                    }

        .form{box-shadow: 10px 5px 5px 10px black;
            background-color: lightgreen;
        background-size: 50%;
        margin-left: 220px;
        margin-right: 1176px;
        margin-top: -78px;
        height: 169px;
        width: 520px;
        position: absolute;
        z-index: 1;
        }
.left, .right{display: block;
margin-left: auto;
margin: auto;
width: 45%;
}

 #mid{box-shadow: 10px 5px 5px 10px black;
    background-color: rgb(146, 142, 142);
    background-size: 100%;
    margin-left: 25.5%;
    margin-right: 25.5%;
    margin-top: 2%;
    width: 50%;
    height: auto;
} 
#left{box-shadow: 10px 5px 5px 10px black;
    background-color: rgb(146, 142, 142);
    background-size: 100%;
     width: 150px;
     height: auto;
     float: left;
     margin-left: 16%;
     margin-top: 2%;
    }
    #right{position: relative;
        top: -528px;
        box-shadow: 10px 5px 5px 10px black;
        background-color: rgb(146, 142, 142);
        background-size: auto;
         width: 150px;
         height: 415px;
         float: right;
         margin-right: 15%;
         margin-bottom: 0.2%;}
.img{width: 5px;
}